*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
}

h1{
    text-align: center;
    padding: 20px;
    color: #931e9a;
}
.container{
    display:flex;
    justify-content: center;
}
.container form{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.461);
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    backdrop-filter: blur(3px);
    outline: solid 1px #d62ddf4f;
    box-shadow: 0 0 20px #d62ddf5c;
}

input{
    border: none;
    outline: none;
    padding: 11px;
    font-size: 15px;
    width: 100%;
    min-width: 250px;
    margin-top: 7px;
    border-radius: 5px;
    outline: solid 1px #d62ddf25;
}
label{
    color: #931e9a;
}
input:focus{
    outline: solid 1px #d62ddf;
    box-shadow: 0 0 10px #d62ddf;
}

.imgBg{
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    object-fit: cover
}

input[type=submit]{
    padding: 11px;
    background-color: #931e9a;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin: auto;
    width: 100%;
    min-width: initial;
}
input[type=submit]:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #d62ddf;
}