@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="mainContainer">
    <span class="welcome">Bienvenido a</span>
    <h1 class="display-4">Mascota Feliz</h1>
    <img src="https://vaccinar.com.br/wp-content/uploads/2020/08/cachorro-e-gato.png" alt="">
</div>
